/* 
 * File: css/gmaptools.css
 * Purpose: Custom stylesheet for gmaptools
 *
 * */

body {
    overflow: hidden;
}

#map {
    position: relative;
}

#map_canvas {
    height: 400px;
    width: 100%;
    border: 1px inset #ccc;
}

#mapinfo-places {
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
}

/* top, margin-left are tuned to #map.height=400 */
div#crosshair {
    position: absolute;
    top: 190px;
    height: 19px;
    width: 19px;
    left: 50%;
    margin-left: -10px;
    display: block;
    background: url(../images/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

div.place {
    padding: .5em 0;
    border-bottom: 1px solid #ccc;
}
div.place:hover {
    background-color: #f3f3f3;
}

.destroy {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../images/destroy.png) no-repeat center center;
    display: block;
}

div.place .destroy {
    display: none;
}

div.place:hover .destroy {
    display: block;
}


/* eof */
